# TODO Python package updates? notify of dependency changes? needs testing
# TODO explain why/how each dependency is used?

# Runtime

## liferea

### https://github.com/srstevenson/xdg-base-dirs/releases
xdg-base-dirs~=6.0.1

## opml

### https://github.com/tiran/defusedxml#changelog
defusedxml~=0.7.1

## tiktok_rss

### https://git.launchpad.net/beautifulsoup/tree/CHANGELOG
beautifulsoup4~=4.12.2

### https://github.com/lkiesow/python-feedgen/releases
feedgen~=1.0.0

### https://github.com/typeshed-internal/stub_uploader/blob/main/data/changelogs/beautifulsoup4.md
types-beautifulsoup4~=4.12.0.5

## yt-dlp

### https://github.com/yt-dlp/yt-dlp/releases
yt-dlp~=2025.5.22

# Test

## lint

### http://www.mypy-lang.org/news.html
mypy~=0.961

### https://pycodestyle.pycqa.org/en/latest/developer.html#changes
pycodestyle~=2.8.0
